*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background: #081b29;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    
}
.main{
    margin: auto;
    position: relative;
    width: 695px;
    background: transparent;
    border: 2px solid #0ef;
    height: 400px;
    overflow: hidden;
    box-shadow: 0 0 25px #0ef;

}
.main .form-box{
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    display: flex;
    background: transparent;
    flex-direction: column;
    justify-content: center;
}
.main .form-box{
    left: 0;
    padding: 0 50px;

}
.form-box h2{
    color: #fff;
    text-align: center;
    pointer-events: none;
    
}
.form-box .input-box{
    position: relative;
    width: 100%;
    height: 50%;
    background: transparent;
}
.input-box input {
    width: 100%;
    height: 30%;
    color: #fff;
    background: transparent;
    border: 2px solid gray;
}
.input-box label{
    color: #fff;
    pointer-events: none;
}
.btn{
    position: relative;
    width: 100%;
    height: 35px;
    border: 2px solid #0ef;
    border-radius: 45px;
    font-size: 16px;
    color: #fff;
    font-weight: 300;
    background: linear-gradient(#081b29,#0ef,#081b29,#0ef);
}
.main .info-text{
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    padding: 0 20px 40px 120px ;
    pointer-events: none;
}
.info-text h2{
    color: #fff;
    line-height: 1.3;
}
.info-text p{
    color: #fff;
}
.main .bg-animate{
    position: absolute;
    top: 0;
    right: 0;
    width: 850px;
    height: 600px;
    background: linear-gradient(45deg,#081b29,#0ef);
    border-bottom: 3px solid #0ef;
    transform: rotate(10deg) skewY(40deg);
    transform-origin: bottom right;
}
.mute{
    color: #fff;
}
@media (max-width:700px){
    .main{
    width: 95%;
    height: 65%;
    }
}